html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    background: darkblue;
}

.fadeIn {
    opacity: 1 !important;
}

.fadeOut {
    opacity: 0 !important;
}

#home {
    z-index: 100;
}

#theater {
    z-index: 99;
}

#home,
#theater {
    height: 100%;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#theater #smileStatus {
    z-index: 98;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    display: none;
}

#theater #webcam {
    width: 25%;
    position: absolute;
    z-index: 97;
}

#theater #intermission,
#credit {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 96;
    display: flex;
    justify-content: center;
    align-items: center;
}

#credit {
    opacity: 0;
    display: none;
    text-align: center;
    color: white;
}

#theater #intermission #resultSmileStatus {
    color: white;
}

#theater #intermission #result {
    display: none;
}

#theater #player {
    z-index: 95;
}

#separator {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#separator #logo {
    z-index: 9999;
}

.choice {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.choice:hover {
    background-color: black;
}

p {
    color: white;
}

.bwp-single-post-share {
    border-top: 1px solid #eeefef;
    border-top-color: #2e3034;
    padding-top: 20px;
    width: 100%;
    margin: 25px 0;
    float: left;
    text-align: left;
    display: inline-block;
    min-height: 1px;
}

.bwp-single-post-share-list {
    margin: 0;
    display: inline-block;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.bwp-single-post-share-list li {
    display: inline-block;
    margin-left: 2px;
}

.bwp-single-post-share-list .bwp-twitter-share {
    background-color: #43b1ff;
}

.bwp-single-post-share-list .bwp-facebook-share {
    background-color: #7b9be0;
}

.bwp-single-post-share-list .bwp-messenger-share {
    background-color: #0e76a8;
}

.bwp-single-post-share-list .bwp-whatapp-share {
    background-color: #44c654;
}

.bwp-single-post-share-list .bwp-linkedin-share {
    background-color: #0e76a8;
}

.bwp-single-post-share-list .bwp-reddit-share {
    background-color: #fe5f40;
}

.bwp-single-post-share-list li a {
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border-radius: 50%;
}