html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: darkblue;
}

.fadeIn {
    opacity: 1 !important;
}

.fadeOut {
    opacity: 0 !important;
}

#home {
    z-index: 100;
}

#theater {
    z-index: 99;
}

#home,
#theater {
    height: 100%;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#intermission {
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

#theater #smileStatus {
    z-index: 98;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    display: none;
}

#theater #webcam {
    width: 25%;
    position: absolute;
    z-index: 97;
}

#theater #intermission,
#credit {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 96;
    display: flex;
    justify-content: center;
    align-items: center;
}

#credit {
    opacity: 0;
    display: none;
}

#theater #intermission #resultSmileStatus {
    color: white;
}

#theater #player {
    z-index: 95;
}

#separator {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#separator #logo {
    z-index: 9999;
}

.choice {
    width: 100%;
    height: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.choice:hover {
    background-color: black;
}

p {
    color: white;
}