body {
    margin: 0;
    background: black;
}

canvas {
    z-index: 100;
    display: block;
    position: relative;
    -webkit-transition: opacity 10s;
    -moz-transition: opacity 10s;
    -o-transition: opacity 10s;
    transition: opacity 10s;
}
